<h1>Muokkaa elokuvaa "{{movie.name}}"</h1>
<form name="edit_movie">
    <div class="form-group">
        <label for="name">Nimi</label>
        <input type="text" id="name" class="form-control" ng-model="name" name="name" required ng-pattern="/^.+$/"/><span class="text-danger" ng-if="edit_movie.name.$invalid && edit_movie.name.$dirty">  Syötä elokuvan nimi</span>
    </div>
    <div class="form-group">
        <label for="director">Ohjaaja</label>
        <input type="text" id="director" class="form-control" ng-model="director" name="director" required/><span class="text-danger" ng-if="edit_movie.director.$invalid && edit_movie.director.$dirty">  Syötä ohjaajan nimi</span>
    </div>
    <div class="form-group">
        <label for="year">Julkaisuvuosi</label>
        <input type="number" min="1878" step="1" id="year" class="form-control" ng-model="year" name="year" required publicationyear /><span class="text-danger" ng-if="edit_movie.year.$invalid && edit_movie.year.$dirty">  Syötä julkaisuvuosi (1878 - kuluva vuosi)</span>
    </div>
    <div class="form-group">
        <label for="description">Kuvaus</label>
        <textarea id="description" rows="3" class="form-control" ng-model="description" name="description" required /></textarea><span class="text-danger" ng-if="edit_movie.description.$invalid && edit_movie.description.$dirty">  Syötä kuvaus</span>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="editMovie()" ng-disabled="edit_movie.$invalid || edit_movie.$pristine">Muokkaa</button>
</form>