<h1>Elokuvat</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Ohjaaja</th>
            <th>Julkaisuvuosi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="movie in movies | orderBy: 'name'">
            <td><a ng-href="#/movies/{{movie.$id}}">{{movie.name}}</a></td>
            <td>{{movie.director}}</td>
            <td>{{movie.year}}</td>
            <td><button class="btn btn-danger" ng-show="userLoggedIn" ng-click="removeMovie(movie)">Poista</button></td>
        </tr>
    </tbody>
</table>