<h1>Kirjaudu sisään tai rekisteröidy</h1>
<p ng-if="message" class="bg-danger error-message">{{message}}</p>
<form name="login_form">
    <div class="form-group">
        <label for="email">Sähköposti: </label>
        <input id="email" class="form-control" type="text" ng-model="email">
    </div>
    <div class="form-group">
        <label for="email">Salasana: </label>
        <input id="password" class="form-control" type="password" ng-model="password">
    </div>
    <button class="btn btn-success" ng-click="logIn()">Kirjaudu</button>
    <button class="btn btn-primary" ng-click="register()">Rekisteröidy</button>
</form>